#main{
    -fx-background-color: black;
}
#loginPane{
    -fx-background-color: rgba(0, 0, 0, 0.71);
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 20, 0, 0, 0.0);
}
#circle{
    -fx-fill: #70f3d4;

    -fx-effect: dropshadow(gaussian, rgb(106, 255, 214),30, 0, 0, 0);
}

#circle1{
    -fx-fill: #ffa530;

    -fx-effect: dropshadow(gaussian, rgb(252, 207, 154),30, 0, 0, 0);
}
#btnLogin{
    -fx-effect: dropshadow(gaussian, rgb(139, 248, 219), 10, 0, 0, 0);
    -fx-border-color: rgb(139, 248, 219);
    -fx-border-width: 3px;
    -fx-border-radius: 50%;
}
#btnLogin:hover{
    -fx-effect: dropshadow(gaussian, rgb(142, 246, 164), 10, 0, 0, 0);

}
.text-field{
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.74);
    -fx-text-fill: #87fdbb;
}